/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* main */
html {
  min-height: 100vh; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  /* text styles */
  /* font-family: ;
  font-size: ;
  line-height: ; 
  color: ;*/
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

body.active {
  overflow: hidden;
}

/* if this sections will position:relative */
/* section,
header,
main,
footer{
   position: relative;
   overflow: hidden;
} */
/* Grid styles */
.container {
  max-width: 1245px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* turn off yellow background for input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

body {
  background-color: #1B1A17;
  font-family: "Inconsolata", monospace;
  color: #F0E3CA;
}

.context-title {
  font-size: 32px;
  font-weight: 500;
  color: #FF7F50;
  text-align: center;
}

.burger {
  width: 48px;
  height: 48px;
  display: none;
}
.burger__line {
  width: 36px;
  height: 4px;
  background-color: #F0E3CA;
  display: inline-block;
  position: relative;
  transition: 0.3s 0s;
}
.burger__line::before, .burger__line::after {
  content: "";
  width: 36px;
  height: 4px;
  background-color: #F0E3CA;
  display: inline-block;
  position: absolute;
  left: 0;
}
.burger__line::before {
  top: -10px;
  transition: transform 0.3s, top 0.3s 0.3s;
}
.burger__line::after {
  bottom: -10px;
  transition: transform 0.3s, bottom 0.3s 0.3s;
}
@media (max-width: 600px) {
  .burger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.burger.active .burger__line {
  background-color: transparent;
  transition: 0.3s 0s;
}
.burger.active .burger__line::before {
  top: 0;
  transition: top 0.3s, transform 0.3s 0.3s;
  transform: rotate(45deg);
}
.burger.active .burger__line::after {
  bottom: 0;
  transition: bottom 0.3s, transform 0.3s 0.3s;
  transform: rotate(-45deg);
}

.header {
  background-color: rgba(27, 26, 23, 0);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 20.5px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
}
@media (max-width: 768px) {
  .header {
    padding: 16px 0;
  }
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 768px) {
  .header__content {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .header__content {
    flex-direction: row;
  }
}
.header .logo {
  max-width: 146px;
  display: inline-block;
}
@media (max-width: 768px) {
  .header .logo {
    margin-bottom: 23.5px;
  }
}
@media (max-width: 600px) {
  .header .logo {
    margin-bottom: 0;
    z-index: 2;
  }
}

@media (max-width: 600px) {
  .navigation {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(27, 26, 23, 0.9);
    width: 100%;
    height: 100vh;
    flex-direction: column;
    transform: translateY(-100%);
    transition: 0.45s ease-in-out;
  }
  .navigation.open {
    transform: translateY(0);
  }
}

.navigation__list {
  display: flex;
  gap: 64px;
}
@media (max-width: 600px) {
  .navigation__list {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .navigation__list-item {
    text-align: center;
  }
}

.anchor-link {
  color: #F0E3CA;
  font-family: Inconsolata;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  transition: 0.5s;
}
@media (hover: hover) {
  .anchor-link:hover {
    color: #FF7F50;
  }
}

.welcome {
  padding: 72.5px 0;
}
@media (max-width: 1100px) {
  .welcome {
    padding: 128px 0;
  }
  .welcome .welcome__content {
    flex-direction: column;
    row-gap: 64px;
  }
}

.welcome__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  max-width: 448px;
}
.hero .main-title {
  margin-bottom: 13.5px;
}
@media (max-width: 1100px) {
  .hero .main-title {
    margin-bottom: 9px;
  }
}
@media (max-width: 768px) {
  .hero .main-title {
    margin-bottom: 16px;
  }
}
.hero .main-subtitle {
  margin-bottom: 14.5px;
}
@media (max-width: 1100px) {
  .hero .main-subtitle {
    margin-bottom: 17px;
  }
}

.main-title {
  font-size: 64px;
  font-weight: 900;
  color: #FF7F50;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .main-title {
    font-size: 40px;
  }
}
@media (max-width: 460px) {
  .main-title {
    font-size: 30px;
    text-align: center;
  }
}

.main-subtitle {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .main-subtitle {
    font-size: 32px;
  }
}
@media (max-width: 460px) {
  .main-subtitle {
    font-size: 24px;
    text-align: center;
  }
}

.hero__description {
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .hero__description {
    font-size: 24px;
  }
}
@media (max-width: 460px) {
  .hero__description {
    font-size: 18px;
    text-align: center;
  }
}

.hero__description-text:not(:last-child) {
  margin-bottom: 15px;
}

.wrapper-avatar {
  width: 630px;
  height: 575px;
  position: relative;
  background-image: url(../img/welcome/bg-avatar-desktop.png);
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .wrapper-avatar {
    background-image: url(../img/mobile-code.png);
    width: 413px;
    height: 430px;
  }
}
@media (max-width: 460px) {
  .wrapper-avatar {
    width: 290px;
    height: 320px;
    background-size: contain;
  }
}

.avatar-part {
  width: 374px;
  height: 374px;
  border-radius: 41% 59% 70% 30%/46% 24% 76% 54%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .avatar-part {
    width: 278px;
    height: 276px;
  }
}
@media (max-width: 460px) {
  .avatar-part {
    width: 190px;
    height: 190px;
  }
}

.avatar-part--img {
  overflow: hidden;
  z-index: 3;
}

.avatar-part--first {
  background-color: rgba(255, 127, 80, 0.5176470588);
  z-index: 2;
  transform: translate(-50%, -50%) rotate(30deg);
}

.avatar-part--second {
  background-color: #F0E3CA;
  transform: translate(-50%, -50%) rotate(-24deg);
}

.about-me {
  padding: 64px 0;
}

.about-me__content {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
@media (max-width: 768px) {
  .about-me__content {
    flex-direction: column;
    row-gap: 32px;
  }
}

.about-me__picture {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
}

.aboute-me__text {
  font-size: 24px;
  font-weight: 400;
  max-width: 904px;
}
@media (max-width: 460px) {
  .aboute-me__text {
    font-size: 18px;
  }
}

.footer .context-title {
  margin-bottom: 16px;
  text-align: left;
}
@media (max-width: 768px) {
  .footer .context-title {
    font-weight: 900;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
  }
}
.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
  max-width: 166px;
}

.footer__content {
  display: flex;
  justify-content: center;
  -moz-column-gap: 64px;
       column-gap: 64px;
  padding: 64px 0;
}
@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    row-gap: 64px;
    align-items: center;
  }
}

.footer__description {
  max-width: 219px;
}
@media (max-width: 768px) {
  .footer__description {
    max-width: 350px;
    text-align: center;
  }
}

.footer__description-text {
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .footer__description-text {
    text-align: left;
  }
}

.contacts-list {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
@media (max-width: 768px) {
  .contacts-list {
    flex-direction: column;
    gap: 32px;
  }
}

.contact-link {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  transition: 0.45s;
}
@media (hover: hover) {
  .contact-link:hover .contact-link__image {
    fill: #FF7F50;
  }
  .contact-link:hover .contact-link__text {
    color: #F0E3CA;
  }
}

.contact-link__image {
  width: 32px;
  height: 32px;
  fill: #F0E3CA;
  transition: 0.45s;
}

.contact-link__text {
  color: #FF7F50;
  font-size: 24px;
  font-weight: 400;
  transition: 0.45s;
}

.contacts-sublist .contacts-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.my-skills {
  padding: 64px 0 64px;
}
.my-skills .context-title {
  margin-bottom: 32px;
}

.row-cards {
  flex-wrap: wrap;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.card-skill {
  width: 200px;
  height: 300px;
  text-align: center;
  position: relative;
}
@media (max-width: 786px) {
  .card-skill {
    max-width: 285px;
    height: 60px;
  }
}
.card-skill__front, .card-skill__back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 1s;
  top: 0;
  left: 0;
}
.card-skill__front {
  background-color: #1F1E1B;
  border-radius: 10px;
  padding: 61px 0 58px;
  transform: perspective(600px) rotateY(0deg);
}
@media (max-width: 786px) {
  .card-skill__front {
    display: flex;
    padding: 14px 32px;
    gap: 16px;
    text-align: center;
  }
}
.card-skill__back {
  background-color: rgba(31, 30, 27, 0.9);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  backface-visibility: hidden;
  transform: perspective(600px) rotateY(-180deg);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  line-height: 1.4;
}
.card-skill [data-btn-close] {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.card-skill--html .card-skill__picture, .card-skill--css .card-skill__picture {
  width: 113px;
  height: 128px;
}
@media (max-width: 786px) {
  .card-skill--html .card-skill__picture, .card-skill--css .card-skill__picture {
    width: 32px;
    height: 32px;
  }
}
.card-skill--js .card-skill__picture, .card-skill--scss .card-skill__picture, .card-skill--git .card-skill__picture {
  width: 128px;
  height: 128px;
}
@media (max-width: 786px) {
  .card-skill--js .card-skill__picture, .card-skill--scss .card-skill__picture, .card-skill--git .card-skill__picture {
    width: 32px;
    height: 32px;
  }
}
@media (hover: hover) {
  .card-skill--html:hover .card-icon {
    fill: #FC490B;
  }
  .card-skill--html:hover .card-skill__title {
    color: #FC490B;
  }
}
@media (hover: hover) {
  .card-skill--css:hover .card-icon {
    fill: #2196F4;
  }
  .card-skill--css:hover .card-skill__title {
    color: #2196F4;
  }
}
@media (hover: hover) {
  .card-skill--js:hover .card-icon {
    fill: #FFDF00;
  }
  .card-skill--js:hover .card-skill__title {
    color: #FFDF00;
  }
}
@media (hover: hover) {
  .card-skill--git:hover .card-icon {
    fill: #F25234;
  }
  .card-skill--git:hover .card-skill__title {
    color: #F25234;
  }
}
@media (hover: hover) {
  .card-skill--scss:hover .card-icon {
    fill: #CA669B;
  }
  .card-skill--scss:hover .card-skill__title {
    color: #CA669B;
  }
}

.card-skill__picture {
  margin: 0 auto 16px;
  display: block;
}
@media (max-width: 786px) {
  .card-skill__picture {
    margin: 0;
  }
}

.card-skill__title {
  font-size: 32px;
  transition: 0.45s;
}
@media (max-width: 786px) {
  .card-skill__title {
    font-weight: 500;
    font-size: 24px;
  }
}

.card-icon {
  fill: #F0E3CA;
  transition: 0.45s;
}

.card-skill.active {
  z-index: 3;
  max-width: 600px;
  width: 95%;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.card-skill.active .card-skill__front {
  transform: perspective(600px) rotateY(180deg);
}
.card-skill.active .card-skill__back {
  transform: perspective(600px) rotateY(0deg);
}

.fade {
  opacity: 0;
  transition: opacity 500ms ease;
}

.fade.active {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(84, 44, 29, 0.3);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.cross-close {
  transition: 0.45s;
}
.cross-close:hover {
  transform: rotate(180deg);
  transition: 0.45s;
}

.my-works {
  padding: 64px 0;
}
.my-works .context-title {
  margin-bottom: 32px;
}

.project-card {
  width: 320px;
  height: 320px;
  position: relative;
  overflow: hidden;
}
.project-card:hover .project-card__info {
  top: 0;
}
.project-card .context-title {
  margin-bottom: 16px;
}

.project-card__info {
  background-color: #21201D;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40.5px 0;
  position: absolute;
  top: -100%;
  width: 100%;
  transition: 0.45s;
}

.project-card__info-top {
  border-bottom: 1px solid #FF7F50;
  width: 200px;
  text-align: center;
  padding-bottom: 16px;
}

.project-card__stak {
  font-size: 16px;
  font-weight: 500;
}

.project-card__info-bottom {
  width: 219px;
  padding-top: 16px;
}

.project-card__description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.project-card__wrapper-link {
  text-align: center;
}

.project-card__see-more {
  display: inline-block;
  padding: 12px 20px;
  background-color: #32312E;
  font-size: 14px;
  font-weight: 400;
  color: #F0E3CA;
}

.context-title {
  margin-bottom: 32px;
}

.slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 425px) {
  .slider {
    width: 100%;
  }
}

.slider__content {
  overflow: hidden;
}

.slider__track {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  transition: 0.4s;
}

.slider__slide {
  background-color: #1F1E1B;
  min-width: 100%;
  border-radius: 20px;
  padding: 10px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slider__reviewer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-bottom: 15px;
}

.slider__wrapper-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.slider__reviewer-name {
  font-size: 24px;
  color: #FF7F50;
  font-weight: 600;
}

.slider__text {
  text-align: center;
}

.slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
}
.slider__arrow:hover .slider-arrow__image {
  fill: #FF7F50;
}
@media (max-width: 768px) {
  .slider__arrow {
    display: none;
  }
}

.slider-arrow__image {
  fill: #f0e3ca;
  transition: 0.4s;
}

.slider__arrow--left {
  left: -45px;
}

.slider__arrow--right {
  right: -45px;
}

.list-control {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.list-control__button {
  width: 15px;
  height: 6px;
  background-color: aliceblue;
  border-radius: 50px;
  transition: 0.4s;
}
.list-control__button:hover {
  transform: scaleX(1.2);
}
.list-control__button.active {
  transform: scaleX(1.2);
  background-color: #FF7F50;
}

.application__content {
  padding: 64px 0;
}

.form {
  background-color: #1F1E1B;
  max-width: 600px;
  margin: 0 auto;
  padding: 16px 0;
}

.form__item {
  width: 90%;
  margin: 0 auto 25px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.form__item--text {
  min-height: 50px;
  height: auto;
}
.form__item--text .form__input {
  resize: vertical;
  max-height: 350px;
  min-height: 50px;
}

.form__input {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-30%);
  color: #F0E3CA;
  font-size: 20px;
  outline: none;
  background-color: transparent;
}

.form__item label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgba(183, 92, 58, 0.612);
}

.form__item label::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-bottom: 1px solid #FF7F50;
  transform: translateX(-100%);
  transition: all 0.45s ease;
}

.form__item label span {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.45s ease;
  color: #95a5a6;
}

.form__item input:focus + label span,
.form__item input:valid + label span {
  transform: translateY(-20px);
  transition: all 0.45s ease;
  color: #3898db;
}

.form__item input:focus + label::after,
.form__item input:focus + label::after {
  transform: translateX(0%);
  transition: all 0.45s ease;
}

.form__send {
  padding: 10px 40px;
  margin: 0 auto;
  display: block;
  color: #F0E3CA;
  background-color: #FF7F50;
  border-radius: 5px;
}
.form__send:hover {
  background-color: rgba(230, 114, 72, 0.7058823529);
  transition: 0.4s;
}/*# sourceMappingURL=main.css.map */