/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* main */
html {
  min-height: 100vh; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  /* text styles */
  /* font-family: ;
  font-size: ;
  line-height: ; 
  color: ;*/
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

body.active {
  overflow: hidden;
}

/* if this sections will position:relative */
/* section,
header,
main,
footer{
   position: relative;
   overflow: hidden;
} */
/* Grid styles */
.container {
  max-width: 1245px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* turn off yellow background for input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

body {
  background-color: #1B1A17;
  font-family: "Inconsolata", monospace;
  color: #F0E3CA;
}

.context-title {
  font-size: 32px;
  font-weight: 500;
  color: #FF7F50;
  text-align: center;
  margin-bottom: 32px;
}

.header {
  padding: 20.5px 0;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.logo {
  max-width: 146px;
  display: inline-block;
}

.navigation__list {
  display: flex;
  -moz-column-gap: 64px;
       column-gap: 64px;
}

.anchor-link {
  color: #F0E3CA;
  font-family: Inconsolata;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  transition: 0.5s;
}
@media (hover: hover) {
  .anchor-link:hover {
    color: #FF7F50;
  }
}

.welcome {
  padding: 72.5px 0;
}

.welcome__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  max-width: 448px;
}
.hero .main-title {
  margin-bottom: 13.5px;
}
.hero .main-subtitle {
  margin-bottom: 14.5px;
}

.main-title {
  font-size: 64px;
  font-weight: 900;
  color: #FF7F50;
  text-transform: capitalize;
}

.main-subtitle {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
}

.hero__description {
  font-size: 20px;
  font-weight: 400;
}

.hero__description-text:not(:last-child) {
  margin-bottom: 15px;
}

.wrapper-avatar {
  width: 630px;
  height: 575px;
  position: relative;
}
.wrapper-avatar__code {
  width: auto;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.avatar-part {
  width: 374px;
  height: 374px;
  border-radius: 41% 59% 70% 30%/46% 24% 76% 54%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar-part--img {
  overflow: hidden;
  z-index: 3;
}

.avatar-part--first {
  background-color: rgba(255, 127, 80, 0.5176470588);
  z-index: 2;
  transform: translate(-50%, -50%) rotate(30deg);
}

.avatar-part--second {
  background-color: #F0E3CA;
  transform: translate(-50%, -50%) rotate(-24deg);
}

.about-me {
  padding: 64px 0;
}

.about-me__content {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}

.about-me__picture {
  width: 100px;
  height: 100px;
}

.aboute-me__text {
  font-size: 24px;
  font-weight: 400;
  max-width: 904px;
}

.my-skills {
  padding: 64px 0 64px;
}

.row-cards {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  justify-content: center;
}

.card-skill {
  max-width: 200px;
  width: 100%;
  background-color: #1F1E1B;
  border-radius: 10px;
  padding: 61px 0 58px;
}
.card-skill--html .card-skill__picture, .card-skill--css .card-skill__picture {
  width: 113px;
  height: 128px;
}
.card-skill--js .card-skill__picture, .card-skill--scss .card-skill__picture, .card-skill--git .card-skill__picture {
  width: 128px;
  height: 128px;
}
@media (hover: hover) {
  .card-skill--html:hover .card-icon {
    fill: #FC490B;
  }
  .card-skill--html:hover .card-skill__title {
    color: #FC490B;
  }
}
@media (hover: hover) {
  .card-skill--css:hover .card-icon {
    fill: #2196F4;
  }
  .card-skill--css:hover .card-skill__title {
    color: #2196F4;
  }
}
@media (hover: hover) {
  .card-skill--js:hover .card-icon {
    fill: #FFDF00;
  }
  .card-skill--js:hover .card-skill__title {
    color: #FFDF00;
  }
}
@media (hover: hover) {
  .card-skill--git:hover .card-icon {
    fill: #F25234;
  }
  .card-skill--git:hover .card-skill__title {
    color: #F25234;
  }
}
@media (hover: hover) {
  .card-skill--scss:hover .card-icon {
    fill: #CA669B;
  }
  .card-skill--scss:hover .card-skill__title {
    color: #CA669B;
  }
}

.card-skill__picture {
  margin: 0 auto 16px;
  display: block;
}

.card-skill__title {
  text-align: center;
  font-size: 32px;
  transition: 0.45s;
}

.card-icon {
  fill: #F0E3CA;
  transition: 0.45s;
}/*# sourceMappingURL=main.css.map */