.header {
    padding: 20.5px 0;

    @media (max-width:768px){
        padding: 16px 0;
    }
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;

        @media(max-width: 768px) {
            flex-direction: column;
        }
        @media(max-width: 600px) {
            flex-direction: row;
        }
    }

    .logo {
        max-width: 146px;
        display: inline-block;

        @media(max-width: 768px){
            margin-bottom: 23.5px;
        }
        @media(max-width: 600px){
            margin-bottom: 0;
            z-index: 2;
        }
    }
}
.navigation {
    @media(max-width: 600px) {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(27, 26, 23, 0.9);
        width: 100%;
        height: 100vh;
        flex-direction: column;
        transform: translateY(100%);
    }
}

.navigation__list {
    display: flex;
    gap: 64px;
    
    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.navigation__list-item {
    @media (max-width: 600px) {
        text-align: center;
    }
}

.anchor-link {
    color: #F0E3CA;
    font-family: Inconsolata;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    transition: 0.5s;
    @include anchor-link-hover($contextTitle)
}