.my-skills {
    padding: 64px 0 64px;
    .context-title {
        margin-bottom: 32px;
    }
}
.my-skills__content {
}
.context-title {

}
.row-cards {
    flex-wrap: wrap;
    display: flex;
    gap: 16px;
    justify-content: center;
}
.card-skill {
    max-width: 200px;
    width: 100%;
    background-color: $backgroundCards;
    border-radius: 10px;
    padding: 61px 0 58px;

    @media (max-width: 786px) {
        display: flex;
        max-width: 285px;
        padding: 14px 32px;
        gap: 16px;
    }

    &--html,
    &--css {
        .card-skill__picture {
            width: 113px;
            height: 128px;

            @media (max-width: 786px) {
            width: 32px;
            height: 32px;
            }
        }
    }
    &--js,
    &--scss,
    &--git{
        .card-skill__picture{
            width: 128px;
            height: 128px;

            @media (max-width: 786px) {
            width: 32px;
            height: 32px;
            }
        }
    }

    &--html {
        @include card-skill($htmlColor);
    }
    
    &--css {
        @include card-skill($cssColor);
    }

    &--js {
        @include card-skill($jsColor);
    }

    &--git {
        @include card-skill($gitColor);
    }

    &--scss {
        @include card-skill($scssColor);
    }
}
.card-skill__picture {
    margin: 0 auto 16px;
    display: block;

    @media (max-width: 786px) {
    margin: 0;
    }
}

.card-skill__title {
    text-align: center;
    font-size: 32px;
    transition: 0.45s;

    @media (max-width: 786px) {
        font-weight: 500;
        font-size: 24px;
    }
}

.card-icon {
    fill: #F0E3CA;
    transition: 0.45s;
}