.reviews {
}

.reviews__content {
}
.context-title {
    margin-bottom: 32px;
}
.slider {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
.slider__content {
    overflow: hidden;
}
.slider__track {
    display: flex;
    column-gap: 10px;
    transition: 0.4s;
}
.slider__slide {
    background-color: darkred;
    height: 210px;
    min-width:100%;
    border-radius: 20px;
}

.slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    
    &:hover {
        .slider-arrow__image {
            fill: $contextTitle;
        }
    }
}
.slider-arrow__image {
    fill: #f0e3ca;
    transition: 0.4s;
}

.slider__arrow--left {
    left: -45px;
}
.slider__arrow--right {
    right: -45px;
}
.list-control {
    display: flex;
    column-gap: 10px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}
.list-control__item {
}
.list-control__button {
    width: 15px;
    height: 6px;
    background-color: aliceblue;
    border-radius: 50px;
    transition: 0.4s;

    &:hover {
        transform: scaleX(1.2);
    }

    &.active {
        transform: scaleX(1.2);
        background-color: $contextTitle;
    }
}