.main {
}
.welcome {
    padding: 72.5px 0;
    
    @media(max-width: 1100px) {
        padding: 128px 0;
        .welcome__content {
            flex-direction: column;
            row-gap: 64px;
        }
    }
}

.welcome__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero {

    max-width: 448px;

    
    .main-title{
        margin-bottom: 13.5px;
        @media(max-width:1100px) {
            margin-bottom: 9px;
        }

        @media (max-width: 768px) {
            margin-bottom: 16px;
        }
    }

    .main-subtitle{
        margin-bottom: 14.5px;
        @media(max-width: 1100px) {
            margin-bottom: 17px;
        }
    }
}
.main-title {
    font-size: 64px;
    font-weight: 900;
    color: $contextTitle;
    text-transform: capitalize;

    @media (max-width: 768px) {
        font-size: 40px;
    }
}
.main-subtitle {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;

    @media (max-width: 768px) {
        font-size: 32px;
    }
}
.hero__description {
    font-size: 20px;
    font-weight: 400;

    @media (max-width: 768px) {
        font-size: 24px;
    }
}
.hero__description-text {
    &:not(:last-child){
        margin-bottom: 15px;
    }
}

.wrapper-avatar {
    width: 630px;
    height: 575px;
    position: relative;
    background-image: url(../../img/welcome/bg-avatar-desktop.png);
    background-repeat: no-repeat;

    @media (max-width: 768px) {
    background-image: url(../../img/mobile-code.png);
    width: 413px;
    height: 430px;
    }
}

.avatar-part {
    width: 374px;
    height: 374px;
    border-radius: 41% 59% 70% 30% / 46% 24% 76% 54% ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    @media (max-width: 768px) {
    width: 278px;
    height: 276px;
    }
}
.avatar-part--img {
    overflow: hidden;
    z-index: 3;
}
.avatar-part--first {
    background-color: $colorObject;
    z-index: 2;
    transform: translate(-50%,-50%) rotate(30deg);
}
.avatar-part--second {
    background-color: $colorText;
    transform: translate(-50%,-50%) rotate(-24deg);
}