.burger {
    width: 48px;
    height: 48px;
    display: none;

    &__line {
        width: 36px;
        height: 4px;
        background-color: $colorText;
        display: inline-block;
        position: relative;

        &::before,
        &::after{
            content: "";
            width: 36px;
            height: 4px;
            background-color: $colorText;
            display: inline-block;
            position: absolute;
            left: 0;
        }
        &::before {
            top: -10px;
        }
        &::after {
            bottom: -10px; 
        }
    }
    @media(max-width: 600px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}