@mixin anchor-link-hover ($color) {
    @media (hover:hover) {
        &:hover {
            color: $color;
        }
        
    }
}

@mixin card-skill ($color) {
    @media (hover:hover) {
        &:hover {
            .card-icon {
                fill: $color;
            }
            
            .card-skill__title {
                color: $color;
            } 
        }
    }
}
