@mixin anchor-link-hover ($color) {
    @media (hover:hover) {
        &:hover {
            color: $color;
        }
        
    }
}

@mixin card-skill ($color) {
    @media (hover:hover) {
        &:hover {
            .card-icon {
                fill: $color;
            }
            
            .card-skill__title {
                color: $color;
            } 
        }
    }
}

@mixin contact-link__text ($colorIcon,$colorTitle){
    @media (hover:hover) {
        &:hover {
            .contact-link__image {
                fill: $colorIcon;
            }
            .contact-link__text{
                color: $colorTitle;
            }
        }
    }
}