$backgroundBody: #1B1A17;
$backgroundCards: #1F1E1B;
$contextTitle: #FF7F50;
$colorText: #F0E3CA;
$colorObject: #ff7f5084;   
$htmlColor: #FC490B;
$jsColor: #FFDF00;
$cssColor: #2196F4;
$gitColor: #F25234;
$scssColor: #CA669B;
